<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>日報 一覧</title>
    <link rel="stylesheet" th:href="@{/css/employee/list.css}">
</head>
<header>
        <nav id="global_navi">
        <ul>
            <li id="main"><a href="/" style="color:white;">日報管理システム</a></li>
            <li><a href="employee/list" style="color:white;">従業員管理</a></li>
            <li><a href="reports/list" style="color:white;">日報管理</a></li>
            <li th:text="${loginUser.name}+さん"></li>
            <li><a href="login" style="color:white;">ログアウト</a></li>
        </ul>
     </nav>
</header>
<body>
    <h1>日報管理システムへようこそ</h1>
    <h2>【自分の日報 一覧】</h2>
    <table>
        <tr>
            <th>氏名</th>
            <th>日付</th>
            <th>タイトル</th>
            <th>操作</th>
        </tr>
        <tr  th:each="report:${reportsList}" >
            <td th:text="${report.employee.name}"></td>
            <td th:text="${report.reportDate}"></td>
            <td th:text="${report.title}"></td>
            <td><a th:href="@{/reports/detail/{id}/(id=${report.id})}">詳細を見る</a></td>
        </tr>
    </table>
    <p th:text="'全'+${reportsList.size}+'件です'"></p>
    <a th:href="@{/reports/register}">新規日報の登録</a>
</body>
</html>